:root {
    --dark-color: #1F2937;
    --light-color: #E5E7EB;
    --white-color: #F9FAF8;
    --button-color: #3882F6;
}

* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    width: 100vw;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}

.card-section {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.quote-block {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    justify-content: center;
    align-items: center;
}

.call-to-action-block {
    background-color: var(--button-color);
    width: 60vw;
    max-height: 16vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.footer {
    width: 100vw;
    display: flex;       
    justify-content: center;
    background-color: var(--dark-color);
    color: var(--white-color);
}


/* Header Section */

nav {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    padding: 0;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
        font-weight: extra-bold;

}


/* hero section (captured in header for header bg) */

.hero-section {
    width: 80vw;
    display: flex;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;

}

.hero-image > img {
    display: flex;
    max-width: 50vw;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-content > .subtitle {
    font-size: 18px;
    color: var(--light-color);
}

.hero-content > .button {
    height: 25px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-color);
    color: var(--white-color)
}

/* card section */

.section-title {
    flex: 1;
    align-self: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: var(--dark-color)
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;    
    max-width: 15vw;
    flex: 1;
    justify-content: center;
}

.card > img {
    border-radius: 20px;
}

.card > .card-subtext {
    font-size: 16px;
    text-align: center;
    font-style: italic;
}

/* quote block */

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    padding: 20px 40px;
    gap: 0px;
}

.quote {
    flex: 1;
    align-self: flex-start;
    color: var(--dark-color);
    font-size: 36px;
    font-style: italic;

}

.quote-author {
    flex: 1;
    align-self: flex-end;
    margin-left: -10vw;
    color: var(--dark-color);
    font-size: 24px;
    font-weight: extra-bold;
}


/* call to action block */



.call-to-action-block > .call-to-action-text {
    color: var(--white-color);
}

.call-to-action-block > .button {
    background-color: var(--button-color);
    color: var(--white-color);
    height: 25px;
    width: 120px;
    border-radius: 5px;
    border: 2px solid var(--white-color);
}

/* footer */

